server:
  port: 8080

spring:
  application:
    name: sleep-spring

  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  datasource:
    url: jdbc:postgresql://localhost:5432/ai_healthcare
    username: postgres
    password: "0411"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

fastapi:
  base-url: http://127.0.0.1:8000
